# =========================
# General
# =========================
.DS_Store
.vscode/
.env
.env.*

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal
staticfiles/
backend/staticfiles/
media/
venv/
env/
.venv/
.pytest_cache/
htmlcov/

# =========================
# Node / React
# =========================
node_modules/
/frontend/node_modules/
build/
/frontend/build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# =========================
# Docker & Infra
# =========================
mysql-data/
*accessKeys.csv

# =========================
# Terraform
# =========================
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json


docs